@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Montserrat:wght@500&family=Space+Grotesk&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
    overflow-y: initial;
}

/* ===== section intro ===== */

.bg-1{
    background-image: url(../img/70.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.intro{
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 3vw;
    align-items: center;
    gap: 7vw;
    padding-top: 4vw;
    padding-bottom: 4vw;
}

.intro h2 span{
    color: #9d4afd;    
    text-shadow: -1px 1px 90px #9d4afd;
}

.intro h3{
    color: #61ffca;
    font-family: 'Space Grotesk';
    font-weight: 250;
    font-size: 2vw;
}

.intro h4 a{    
    color: #9d4afd;    
    text-shadow: -1px 1px 90px #9d4afd;
    font-size: 3.2vw;    
    margin: 0 4vw;   
    cursor: pointer;
    transition: ease 0.4s; 
}

.intro h4 a:hover{
    color: #61ffca;    
    text-shadow: -1px 1px 90px #61ffca;
}
/* ===== section intro ===== */

/* ===== section projects ===== */
.projects{
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #29263c;
    background-position: center;
    text-align: center;
    align-items: center;    
    padding-top: 4vw;
    padding-bottom: 4vw;    
}

.main h6{
    color: #61ffca;
    font-family: 'Montserrat';
    font-size: 4vw;  
    text-shadow: -1px 1px 90px #61ffca;
    margin-bottom: 11vw;
}

.cit{
    color: #fff;
    font-size: 1.8vw;  
    font-family: 'Space Grotesk';
    font-weight: 500;
    padding-left: 2%;
    padding-right: 2%;
    margin-bottom: 3%;
    margin-top: -8%;    
}

.card{
    display: inline-block;
    width: 60%;
    height: 80%;
    background-image: url(../img/70.png);
    background-size: cover;
    background-position: center;    
    background-attachment: fixed;
    border-radius: 10px;
    margin-bottom: 4%;
    -webkit-box-shadow: 0px 11px 50px -19px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 11px 50px -19px rgba(0,0,0,0.75);
    box-shadow: 0px 11px 50px -19px rgba(0,0,0,0.75);
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-right: 2vh;
    padding-left: 2vh;
    font-family: 'Montserrat';  
}

.card h3{
    color: #61ffca;
    font-size: 2.5vw;
    margin-bottom: 3.5%;
}

.card img{
    width: 85%;
    border-radius: 0.3vw;
    -webkit-box-shadow: 0px 11px 65px -19px #50187b;
    -moz-box-shadow: 0px 11px 65px -19px #50187b;
    box-shadow: 0px 11px 65px -19px #50187b;    
    margin-bottom: 2%;
}

.card p{
    color: #fff;
    font-size: 1.5vw;
    display: inline-block;       
    font-family: 'Fredoka';
    font-weight: 350;
}

.card a{
    color: #61ffca;
    text-decoration: none;
    cursor: pointer;    
    text-shadow: -1px 1px 50px #61ffca;
    cursor: pointer;
    transition: ease 0.4s;
}

.card a:hover{
    color: #9d4afd;
    text-shadow: -1px 1px 50px #61ffca;
}

p i{
    color: #61ffca;
    font-size: 1.5vw;    
    text-shadow: -1px 1px 50px #61ffca;
}

/* === section projects ==== */

/* ==== section about ==== */
.about{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;    
    padding-top: 4vw;
    padding-bottom: 4vw;    
    background: #343434;
    background-position: center;
}

.about h6{
    color: #9d4afd;
    font-family: 'Montserrat';
    font-size: 4vw;  
    margin-bottom: 5vw;    
    text-shadow: -1px 1px 90px #9d4afd;
}

.card-about{
    width: 80vw;    
    flex-direction: column;
    height: 20%;
    border-radius: 10px;
    -webkit-box-shadow: 0px 11px 50px -19px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 11px 50px -19px rgba(0,0,0,0.75);
    box-shadow: 0px 11px 50px -19px rgba(0,0,0,0.75);
    padding-top: 2vh;
    padding-bottom: 0;
    padding-right: 2vh;
    padding-left: 2vh;    
    text-align: justify;    
    background: #29263c;   
    font-family: 'Space Grotesk';
    font-weight: 400;     
    font-size: 1.5vw;   
    color: #fff;
}

.card-about a{
    color: #61ffca;
    text-decoration: none;
    cursor: pointer;
    text-shadow: -1px 1px 75px #61ffca;
    transition: ease 0.4s;
}

.card-about a:hover{
    color: #9d4afd;
    text-shadow: -1px 1px 75px #9d4afd;
}

.card-about-left{
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%; 
}

.card-about-left p{
    margin-bottom: 3%;
}

.card-about-mid{
    font-size: 4vw;
    padding-left: 8%;
    padding-right: 2%;
    padding-bottom: 4.5%; 
    letter-spacing: 8vw;
}

.card-about-right{
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%; 
}

.card-about-right p{    
    margin-bottom: 3%;
}

.imp{
    color: #fff;
    font-size: 1.8vw;  
    font-family: 'Space Grotesk';
    margin-top: 4vh;
    margin-bottom: 4vh;
    margin-left: 8px;
    margin-right: 8px;
}

.imp span{
    color: #9d4afd;    
    text-shadow: -1px 1px 55px #9d4afd;
}

.btn-about{    
    padding-top: 2%;
}

.btn{
    width: 30vw;
    height: 5vw;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;    
    font-family: 'Montserrat'; 
    font-size: 2.2vw;
    margin-left: 6vw;
    margin-right: 6vw;
    border: 0.2vw solid #61ffca;
    outline: none;
    color: #61ffca;
    background-color: transparent;
    cursor: pointer;
    text-shadow: -1px 1px 55px #61ffca;
    -webkit-box-shadow: 0px 11px 65px -19px #61ffca;
    -moz-box-shadow: 0px 11px 65px -19px #61ffca;
    box-shadow: 0px 11px 65px -19px #61ffca; 
    transition: ease 0.4s; 
}

.btn:hover{
    color: #9d4afd;
    text-shadow: -1px 1px 55px #9d4afd;
    -webkit-box-shadow: 0px 11px 65px -19px #9d4afd;
    -moz-box-shadow: 0px 11px 65px -19px #9d4afd;
    box-shadow: 0px 11px 65px -19px #9d4afd;     
    border: 0.15vw solid #9d4afd;

}
/* == section about === */

/* === section contact ==== */
.bg{
    background-image: url(../img/70.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.contact{
    display: flex;
    flex-direction: column;
    font-size: 3vw;
    align-items: center;
    gap: 7vw;
    padding-bottom: 6%;
    max-height: 100%;
    color: #fff;
    text-align: center;
    align-items: center;
    padding-top: 6%;
    font-family: 'Montserrat';
}

.contact h1{
    font-size: 4vw;
    font-weight: lighter;
}

.contact input, textarea{
    width: 45vw;
    margin-top: 3%;
    margin-bottom: 6%;
    background-color: transparent;
    outline: none;
    border-radius: 5px;
    border: 0.12vw solid #9d4afd;
    color: #9d4afd;
    padding: 2%;    
    font-family: 'Fredoka';
    font-weight: 400;
    font-size: 2vw;
    resize: none;
    -webkit-box-shadow: 0px 11px 25px -19px #9d4afd;
    -moz-box-shadow: 0px 11px 25px -19px #9d4afd;
    box-shadow: 0px 11px 25px -19px #9d4afd;     
    transition: ease 0.4s; 
}

.contact input:hover, textarea:hover{    
    color: #61ffca;      
    border: 0.12vw solid #61ffca;
    -webkit-box-shadow: 0px 11px 25px -19px #61ffca;
    -moz-box-shadow: 0px 11px 25px -19px #61ffca;
    box-shadow: 0px 11px 25px -19px #61ffca; 
}

.contact label{    
    font-size: 2.2vw;
}

.btn-form{
    margin-top: 6%;
    margin-left: 2vw;
    margin-right: 2vw;
    width: 50%;
    height: 6vh;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;    
    font-family: 'Montserrat'; 
    font-size: 2.2vw;
    border: 0.15vw solid #9d4afd;
    outline: none;
    border-radius: 5px;
    color: #9d4afd;
    background-color: transparent;
    cursor: pointer;
    text-shadow: -1px 1px 55px #9d4afd;
    -webkit-box-shadow: 0px 11px 65px -19px #9d4afd;
    -moz-box-shadow: 0px 11px 65px -19px #9d4afd;
    box-shadow: 0px 11px 65px -19px #9d4afd; 
    transition: ease 0.4s; 
}

.btn-form:hover{
    color: #61ffca;
    text-shadow: -1px 1px 55px #61ffca;
    -webkit-box-shadow: 0px 11px 65px -19px #61ffca;
    -moz-box-shadow: 0px 11px 65px -19px #61ffca;
    box-shadow: 0px 11px 65px -19px #61ffca;     
    border: 0.15vw solid #61ffca;
}

footer{
    bottom: 0;
    width: 100vw;
    text-align: center;
    align-items: center;
    padding-top: 0.5vh;
    padding-bottom: 1vh;
    font-size: 1vw;
    background: #29263c;
    background-position: center;
    color: #fff;        
    font-family: 'Space Grotesk', sans-serif;   
}

footer a{
    color: #61ffca;
    cursor: pointer;    
    font-size: 1.2vw;     
    transition: ease 0.4s; 
    letter-spacing: 0.5vw;
}

footer a:hover{
    color: #9d4afd;
}
